DirectoryIndex landing-page.php

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header unset Access-Control-Allow-Origin
    Header always unset Access-Control-Allow-Origin
</IfModule>